@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(45deg, rgb(3, 41, 11), rgb(1, 1, 46));
}
.email-container {
    border: 4px solid rgb(245, 17, 55);
    border-radius: 23px;
    padding: 30px;
    display: block;
    width: 32%;
    margin: 10% auto;
}

@media only screen and (max-width: 1120px) {
    .email-container {
      width: 60%;
    }
}

@media only screen and (max-width: 700px) {
    .email-container {
        width: 90%;
    }
}

.email-container:hover {
    border-color: rgb(83, 199, 245);
}

.email-container h3 {
    position: relative;
    font-size: 23px;
    color: #f9f9f9;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 8px;
    text-align: center;
}

.email-container #form {
    position: relative;
}

.email-container #form #email {
    width: 100%;
    background: #292929;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    display: block;
    margin: auto;
}

.email-container #form .inputBox {
    position: relative;
}

.email-container #form.valid .inputBox::before {
    content: "";
    position: absolute;
    right: 12px;
    top: 8px;
    width: 24px;
    height: 24px;
    background: url('valid.png');
    background-size: cover;
    z-index: 1000;
}

.email-container #form.invalid .inputBox::before {
    content: "";
    position: absolute;
    right: 12px;
    top: 8px;
    width: 24px;
    height: 24px;
    background: url('invalid.png');
    background-size: cover;
    z-index: 1000;
}

.email-container #text {
    display: block;
    font-weight: 300;
    font-style: italic;
    padding: 5px;
}